@mixin inputs ($bottom, $left, $width:100%, ){
    position: relative;
    bottom: $bottom;
    left:  $left;
    width: $width;
    border-style: none;
    color: white;
    background-color: transparent;
}

@mixin input-form {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.427);
    border-radius: 10px;
}