@mixin circle ($bottom, $left, $width: 60px, $height: 60px){
    position: relative;
    bottom: $bottom;
    left: $left;
    border-radius: 50%;
    width:  $width;
    height: $height;
}

@mixin card ($top, $left){
    position: absolute;
    top: $top;
    left: $left;
}

@mixin flex-form ($direction: column){
    display: flex;
    flex-direction: $direction;
}

@mixin alert($on: none){
    display: $on;
    height: 0;
    position: relative;
    top: 3px;
}