@use 'layouts';
@use 'base';
@use 'components';

$white: white;
$black: black;
$focus-inputs: rgb(201, 14, 201);
$incorrect: rgb(243, 51, 57);
$alert: rgb(225, 42, 48);

.card1 {

    @include layouts.card(225px, 250px);

    & ::placeholder {
        color: $white;
    }

    & .cardNum {

        & input {
            @include components.inputs(190px, 40px, 85%);
            font-size: 2rem;
            letter-spacing: 2px;
            text-align: end;
        }
    }

    & .nameUser input {
        @include components.inputs(170px, 40px);
        font-size: 0.8rem;
        background: transparent;

    }

    & .Date input {
        @include components.inputs(190px, 380px);
        background: transparent;

    }

    @media (max-width: 1270px) {
        & {
            @include layouts.card(160px, 20px);
            z-index: 1;

            @media (min-width: 1000px) {
                & {
                    @include layouts.card(225px, 100px);
                }
            }
        }
    }

}

.card2 {

    @include layouts.card(520px, 350px);

    & ::placeholder {
        color: $white;
    }

    & .segurity {
        position: relative;
        bottom: 140px;
        left: 210px;

        & input {
            background-color: transparent;
            border: none;
            color: white;
            text-align: end;
            font-size: 1rem;
            letter-spacing: 2px;
        }

    }

    @media (max-width: 1450px) {
        & {
            @include layouts.card(520px, 100px);

            @media (max-width: 1000px) {
                & {
                    @include layouts.card(22px, 100px);
                }
            }
        }

    }

}

#circle {
    @include layouts.circle(220px, 35px, 60px, 60px);
    background: $white;
}

#circle2 {
    @include layouts.circle(263px, 110px, 20px, 20px);
    border: 1px solid $white;
}

form {
    position: absolute;
    top: 325px;
    left: 55%;
    width: 400px;

    @media (max-width: 1000px) {
        & {
            @include layouts.card(450px, 100px);
        }
    }

    & input:focus {
        outline: 2px solid $focus-inputs;
    }

    & .input-incorrecto:focus {
        outline: 2px solid $incorrect;
    }

    & .alert {
        @include layouts.alert();
        color: $alert;

    }

    & .alert-on {
        @include layouts.alert(block);
        color: $alert;
    }

    & .alert-in-input{
        color: $alert;
        display: block;
        text-align: center;
        margin-top: -30px;
        font-size: 1.5rem;
    }


    & .name {

        @include layouts.flex-form();
        margin-bottom: 30px;

        & label {
            margin-bottom: 5px;
        }

        & input {
            @include components.input-form();
        }

    }

    & .formnumcard {
        @include layouts.flex-form();

        & label {
            margin-bottom: 5px;
        }

        & input {
            @include components.input-form();
        }
    }

    & .date {
        @include layouts.flex-form();
        margin-top: 30px;

        & .dateinputs {
            @include layouts.flex-form(row);
        }

        & .datelabel {
            margin-bottom: 5px;

            & label[for="date"] {
                margin-right: 15px;
            }
        }

        & input {
            @include components.input-form();
            width: 70px;
            margin-right: 10px;
        }

        & input[name="space"] {
            margin-right: 50px;
        }

        & input[id="cvc"] {
            width: 240px;
        }

        & label {
            position: relative;
        }

    }

    & .inputconfirm {
        width: 100%;
        height: 50px;
        margin: 40px 0;
        border-radius: 10px;
        background-color: #220a2f;
        color: $white;
        font-size: 1rem;
        letter-spacing: 2px;
        cursor: pointer;
    }


}