@use 'layouts';
@use 'base';
@use 'components';

$white: white;
$black: black;
$grey: grey;
$focus-inputs: rgb(201, 14, 201);
$incorrect: rgb(243, 51, 57);
$alert: rgb(225, 42, 48);
$input: #220a2f;

.card1 {

    @include layouts.card(130px, 250px);

    height: 200px;
    min-width: 250px;

    & ::placeholder {
        color: $white;
    }

    & img {
        width: 30rem
    }

    & .cardNum {

        & input {
            @include components.inputs(30px, 10px, 85%);
            width: max-content;
            font-size: 2rem;
            letter-spacing: 2px;
            text-align: end;

            @media (max-width: 800px) {
                & {
                    @include components.inputs(80px, 17px, 85%);
                    font-size: 1.2rem;
                    letter-spacing: 4px
                }
            }
        }
    }

    & .nameUser input {
        @include components.inputs(-20px, 40px);
        font-size: 1rem;
        letter-spacing: 2px;
        background: transparent;
        width: 300px;

        @media (max-width: 1000px) {
            & {
                @include components.inputs(37px, 40px);
                font-size: 0.7rem;
                width: 200px;
            }
        }


    }

    & .Date input {
        position: absolute;
        top: 200px;
        left: 360px;
        width: 50px;
        background: transparent;
        border: none;
        font-size: 1rem;

        @media (max-width: 1000px) {
            & {
                position: absolute;
                top: 150px;
                left: 270px;
                font-size: 0.8rem;
            }
        }

    }

    @media (max-width: 800px) {

        & img {
            width: 25rem;

            @media (max-width: 1000px) {
                & {
                    width: 21rem
                }
            }
        }

        & {
            @include layouts.card(160px, 20px);
            z-index: 1;

            @media (min-width: 1000px) {
                & {
                    @include layouts.card(225px, 100px);
                }
            }
        }
    }

}

.card2 {

    @include layouts.card(440px, 350px);

    & ::placeholder {
        color: $white;
    }

    & .segurity {
        position: absolute;
        bottom: 120px;
        left: 210px;

        & input {
            background-color: transparent;
            border: none;
            color: white;
            text-align: end;
            font-size: 1rem;
            letter-spacing: 2px;
        }

        @media (max-width: 1000px) {
            & {
                position: absolute;
                bottom: 80px;
                left: 70px;
            }
        }

    }

    @media (max-width: 1150px) {
        & {
            @include layouts.card(520px, 100px);

            @media (max-width: 1000px) {
                & {
                    @include layouts.card(50px, 80px);

                    & img {
                        width: 19rem
                    }
                }
            }
        }

    }

}

#circle {
    @include layouts.circle(15.75rem, 2.188rem, 3.75rem, 3.75rem);
    background: $white;

    @media (max-width: 1000px) {
        & {
            @include layouts.circle(10.45rem, 2.188rem, 2.25rem, 2.25rem);
        }
    }
}

#circle2 {
    @include layouts.circle(18.438rem, 6.875rem, 1.25rem, 1.25rem);
    border: 1px solid $white;

    @media (max-width: 1000px) {
        & {
            @include layouts.circle(12.118rem, 5.375rem, 1.05rem, 1.05rem);
        }
    }
}

form {
    position: absolute;
    top: 235px;
    left: 1000px;
    width: 400px;
    display: block;

    @media (max-width: 1000px) {
        & {
            position: absolute;
            top: 400px;
            margin-left: 10px;
            left: 20px;
            width: 350px;
        }
    }

    & input:focus {
        outline: 2px solid $focus-inputs;
    }

    & .input-incorrecto:focus {
        outline: 2px solid $incorrect;
    }

    & .alert {
        @include layouts.alert();
        color: $alert;

    }

    & .alert-on {
        @include layouts.alert(block);
        color: $alert;
    }

    & .alert-in-input {
        color: $alert;
        display: block;
        text-align: center;
        margin-top: -30px;
        font-size: 1.5rem;
    }


    & .name {

        @include layouts.flex-form();
        margin-bottom: 30px;

        & label {
            margin-bottom: 5px;
        }

        & input {
            @include components.input-form();
        }

    }

    & .formnumcard {
        @include layouts.flex-form();

        & label {
            margin-bottom: 5px;
        }

        & input {
            @include components.input-form();
        }
    }

    & .date {
        @include layouts.flex-form();
        margin-top: 30px;

        & .dateinputs {
            @include layouts.flex-form(row);
        }

        & .datelabel {
            margin-bottom: 5px;

            & label[for="date"] {
                margin-right: 15px;
            }
        }

        & input {
            @include components.input-form();
            width: 70px;
            margin-right: 10px;
        }

        & input[name="space"] {
            margin-right: 50px;
        }

        & input[id="cvc"] {
            width: 240px;

            @media (max-width: 1000px) {
                & {
                    width: 190px;
                }
            }

        }

        & label {
            position: relative;
        }

    }

    & .inputconfirm {
        width: 100%;
        height: 50px;
        margin: 40px 0;
        border-radius: 10px;
        background-color: $input;
        color: $white;
        font-size: 1rem;
        letter-spacing: 2px;
        cursor: pointer;

        
    }

}

.confirm {

    position: absolute;
    left: 60%;
    top: 50%;
    width: 400px;
    height: 200px;
    display: none;

    @media (max-width: 1000px) {
        & {
            margin: 0 auto;
            position: absolute;
            top: 60%;
            left: 3px;
            width: 350px;
        }
    }

    & img {
        position: relative;
        bottom: 120px;
        left: 150px;
    }

    & h1 {
        position: relative;
        bottom: 90px;
        left: 80px;
        letter-spacing: 6px;
        font-size: 2rem;

        @media (max-width: 1000px) {
            & {
                width: 240px;
            }
        }
    }

    & p {
        color: $grey;
        position: relative;
        bottom: 70px;
        left: 60px;
        letter-spacing: 1.5px;

        @media (max-width: 1000px) {
            & {
                width: 280px;
            }
        }
    }

    & button {
        @include components.input-form();
        width: 400px;
        position: relative;
        bottom: 20px;
        color: $white;
        background-color: $input;
        cursor: pointer;

        @media (max-width: 1000px) {
            & {
                width: 300px;
                left: 50px;

            }
        }

    }
}