@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 35rem;
}
@media (max-width: 1020px) {
  body {
    margin: 0 auto;
    background-image: url(../images/bg-main-mobile.png);
    background-size: 500px;
    background-repeat: repeat-x;
  }
}

.card1 {
  position: absolute;
  top: 130px;
  left: 250px;
  height: 200px;
  min-width: 250px;
}
.card1 ::placeholder {
  color: white;
}
.card1 img {
  width: 30rem;
}
.card1 .cardNum input {
  position: absolute;
  bottom: 30px;
  left: 10px;
  width: 85%;
  border-style: none;
  color: white;
  background-color: transparent;
  width: max-content;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: end;
}
@media (max-width: 800px) {
  .card1 .cardNum input {
    position: absolute;
    bottom: 80px;
    left: 17px;
    width: 85%;
    border-style: none;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    letter-spacing: 4px;
  }
}
.card1 .nameUser input {
  position: absolute;
  bottom: -20px;
  left: 40px;
  width: 100%;
  border-style: none;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  letter-spacing: 2px;
  background: transparent;
  width: 300px;
}
@media (max-width: 1000px) {
  .card1 .nameUser input {
    position: absolute;
    bottom: 37px;
    left: 40px;
    width: 100%;
    border-style: none;
    color: white;
    background-color: transparent;
    font-size: 0.7rem;
    width: 200px;
  }
}
.card1 .Date input {
  position: absolute;
  top: 200px;
  left: 360px;
  width: 50px;
  background: transparent;
  border: none;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .card1 .Date input {
    position: absolute;
    top: 150px;
    left: 270px;
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .card1 img {
    width: 25rem;
  }
}
@media (max-width: 800px) and (max-width: 1000px) {
  .card1 img {
    width: 21rem;
  }
}
@media (max-width: 800px) {
  .card1 {
    position: absolute;
    top: 160px;
    left: 20px;
    z-index: 1;
  }
}
@media (max-width: 800px) and (min-width: 1000px) {
  .card1 {
    position: absolute;
    top: 225px;
    left: 100px;
  }
}

.card2 {
  position: absolute;
  top: 440px;
  left: 350px;
}
.card2 ::placeholder {
  color: white;
}
.card2 .segurity {
  position: absolute;
  bottom: 120px;
  left: 210px;
}
.card2 .segurity input {
  background-color: transparent;
  border: none;
  color: white;
  text-align: end;
  font-size: 1rem;
  letter-spacing: 2px;
}
@media (max-width: 1000px) {
  .card2 .segurity {
    position: absolute;
    bottom: 80px;
    left: 70px;
  }
}
@media (max-width: 1150px) {
  .card2 {
    position: absolute;
    top: 520px;
    left: 100px;
  }
}
@media (max-width: 1150px) and (max-width: 1000px) {
  .card2 {
    position: absolute;
    top: 50px;
    left: 80px;
  }
  .card2 img {
    width: 19rem;
  }
}

#circle {
  position: relative;
  bottom: 15.75rem;
  left: 2.188rem;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  background: white;
}
@media (max-width: 1000px) {
  #circle {
    position: relative;
    bottom: 10.45rem;
    left: 2.188rem;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
  }
}

#circle2 {
  position: relative;
  bottom: 18.438rem;
  left: 6.875rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid white;
}
@media (max-width: 1000px) {
  #circle2 {
    position: relative;
    bottom: 12.118rem;
    left: 5.375rem;
    border-radius: 50%;
    width: 1.05rem;
    height: 1.05rem;
  }
}

form {
  position: absolute;
  top: 235px;
  left: 1000px;
  width: 400px;
  display: block;
}
@media (max-width: 1000px) {
  form {
    position: absolute;
    top: 400px;
    margin-left: 10px;
    left: 20px;
    width: 350px;
  }
}
form input:focus {
  outline: 2px solid rgb(201, 14, 201);
}
form .input-incorrecto:focus {
  outline: 2px solid rgb(243, 51, 57);
}
form .alert {
  display: none;
  height: 0;
  position: relative;
  top: 3px;
  color: rgb(225, 42, 48);
}
form .alert-on {
  display: block;
  height: 0;
  position: relative;
  top: 3px;
  color: rgb(225, 42, 48);
}
@media (max-width: 1000px) {
  form .alert-on {
    font-size: 0.9rem;
  }
}
form .alert-in-input {
  color: rgb(225, 42, 48);
  display: block;
  text-align: center;
  margin-top: -30px;
  font-size: 1.5rem;
}
form .name {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
form .name label {
  margin-bottom: 5px;
}
form .name input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.427);
  border-radius: 10px;
}
form .formnumcard {
  display: flex;
  flex-direction: column;
}
form .formnumcard label {
  margin-bottom: 5px;
}
form .formnumcard input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.427);
  border-radius: 10px;
}
form .date {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
form .date .dateinputs {
  display: flex;
  flex-direction: row;
}
form .date .datelabel {
  margin-bottom: 5px;
}
form .date .datelabel label[for=date] {
  margin-right: 15px;
}
form .date input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.427);
  border-radius: 10px;
  width: 70px;
  margin-right: 10px;
}
form .date input[name=space] {
  margin-right: 50px;
}
form .date input[id=cvc] {
  width: 240px;
}
@media (max-width: 1000px) {
  form .date input[id=cvc] {
    width: 190px;
  }
}
form .date label {
  position: relative;
}
form .inputconfirm {
  width: 100%;
  height: 50px;
  margin: 40px 0;
  border-radius: 10px;
  background-color: #220a2f;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.confirm {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 400px;
  height: 200px;
  display: none;
}
@media (max-width: 1000px) {
  .confirm {
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 3px;
    width: 350px;
  }
}
.confirm img {
  position: relative;
  bottom: 120px;
  left: 150px;
}
.confirm h1 {
  position: relative;
  bottom: 90px;
  left: 80px;
  letter-spacing: 6px;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .confirm h1 {
    width: 240px;
  }
}
.confirm p {
  color: grey;
  position: relative;
  bottom: 70px;
  left: 60px;
  letter-spacing: 1.5px;
}
@media (max-width: 1000px) {
  .confirm p {
    width: 280px;
  }
}
.confirm button {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.427);
  border-radius: 10px;
  width: 400px;
  position: relative;
  bottom: 20px;
  color: white;
  background-color: #220a2f;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .confirm button {
    width: 300px;
    left: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
